body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #a7a7a7, #dcdcdc);
}
/* Estilos para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: center;
    
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
    
    /* Estilos para o grid de hotéis */
    .hotel-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    }
    
    .hotel-card {
    border: 1px solid #ddd;
    padding: 10px;
    }
    
    .hotel-card img {
    width: 100%;
    }
    
    .hotel-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #333;
    }
    /* Estilos para o footer */
    footer {
      position: absolute;
      width: 100%;
      background-color: #333;
      color: #fff;
      padding: 5px;
      display: flex;
      justify-content: center;
    }