
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, #a7a7a7, #dcdcdc);
}
/* Estilos para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    justify-content: center;
    
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  /* Estilos para o main */
  main {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* Estilos para o footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin-top: 20px;
  }